In [1]:
import json
import pandas as pd
import gspread

In [2]:
from data_collection.gcp_processor.cred import SHEET_DB_CRED_JSON_PATH
with open(SHEET_DB_CRED_JSON_PATH, 'r') as f:
    cred_data = json.load(f)

cred_data

{'type': 'service_account',
 'project_id': 'datacollector-380107',
 'private_key_id': '705209c618fa125a57b1c1181424e14639d810af',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDxM3tVbIs01/u3\nErPCEfXLMqd52ki4N9YmtBnu10HTzxgKMdsX09zguhJko98fJYhrrodCaVJeJ2Va\nm+0YTSSQ8TFtvENXd5VCSo1HbyEWM29JnNXQorA1BSTfV3SPbQSmTtjR3qp8uDoo\no0Ql5c83SkLOB8rFQ7ZXhgbSkmX95xeBJOuiW2J14PR5mKyEgx1Zdykqj2DmvCpN\npSYH4HIZBIGW0dvFr7ay8myezMiadXfa9zTlTNRRMM+OL50qiO+MIc5/kWiZwAy+\nkdnshksTQubE1HpB4xRJuOKbQPINDGwo6b3YCcPi+VSD/PjNJK9dDkGMauR3h7xw\n8gxFd0qBAgMBAAECggEAU1LlmG0W6fpzCpt7Xd+2eavWD1JJLNqdMGGnU8spAnLY\nay0t8t1NwJSHJh02RxxANHLmZxrbSYtyiAq1rV948llgKfiPivfUqEH47GSHmZPL\nLjLv6lNJbAeK5Vzg92tB3/H9FQNHAi7iaId+U1lAbGlLCsHGWr85jqLOWJAai8tN\ns0bWeHQJ7BXZd4f5lv2RK/T8cEojhiELtowrfotqaD4pUDtJl8G+HO4e0mDf0/gu\nN67FLnIfid3R+D45PGtCkX5Fd6dzFG78OFi/QgajjYC4PtxY9NsHsFtJueLxuMUs\nU/OXU0/EFDF664nc1+B6yPBiGie0fLUxnPPBbdPkwQKBgQD5fgQr+RPOUXwXSWiG\nuYus6DHULjiwUNoOAn8AXCf5Sp+Cxg4jc1ABkQlDhQK3fcb9LTohj7VYRve0vw96\neEwGLE+sMzAKogs/uvxBGrhpZu3ItHZAhTTAAuBAbEl1tg4wX2TcZMIWaU8jUyeF\naJkhNdR0Vzo3NPRTAtlaoGuW6wKBgQD3fhnxyKQAVIVd2d+gSVkLBTFWAvVP+MtL\nPx6GhaZHX8GbsLCcyabsU+MOrlO4loe85X7f/CKiQlZ17G6jNYi6X0TB+4tmVh9a\nxXkbUjCZnuVs8wHeXAZ5x3IemNeDQ2A73WvJT2C95OMCunV4E7RprpuNxF3r/Syr\nQp2Bru+hQwKBgQC4M0PdO15WG28kujwEDAWFuUDgyOdttaPoaAtgNqoEsgWmxZc2\nsTJGldBjG1bwJlq+HaAnmzRmYq8LsWw6HYrzm8+O8ZPspcrsWJ9ZaeLxXt78KdCM\nvkw932G17r0lvS4opKWQ2os5hLK6/+/T3XABRv7+jlAa5mvkxdu3v2zv1QKBgQDz\nU8XKVAv6Tx84oKce/j5PeXGCMTJiyCeH+azXcbuD3P+LRPK/k/tLy0Yn/vlNOKKH\n89MEAO9EPJipJCW6zT16j4QYfGoX2YDGS/TACdTClNjYfytNJYkwXgkzT+5DnhCV\niyMYL7Tbvpf67LvlrOnqJcPGZFQ7WxV54+rbv9TV5QKBgC7G08BG+/+GmEqg6k9X\ntng9bcku7Tmj0Pcnx88qX98Eqg0di4ryH+n5wGNrJ3HNpYoTJ8mL0KW5vYqtTK2e\nn1PqS33JO8Jud68m0fEjjb99uZc/qB6JKu3zpm6TfrudvcIA2E9gb/SzdEoR0ouz\nzCuhk0XOjJylFznL1UYkv4oh\n-----END PRIVATE KEY-----\n',
 'client_email': 'google-sheet-db-access@datacollector-380107.iam.gserviceaccount.com',
 'client_id': '117272155930006121175',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/google-sheet-db-access%40datacollector-380107.iam.gserviceaccount.com'}

In [11]:
gs = gspread.service_account(filename=SHEET_DB_CRED_JSON_PATH)

In [12]:
# wb = gs.open("sheet_db", folder_id="1SMrFzCNkYATBAJvAg4SNRZ5DuUh0wUNG")

wb = gs.open_by_key("1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE")
sh = wb.get_worksheet_by_id(id=0)

In [21]:
# text = "name	email	phone	address	parish	region	dob	dom	village_or_municipality	office_at_parish_level	office_at_region_level	office_at_diocese_level	office_at_?	office_at_kr?	"			
# {key: "" for key in text.split()}	

# import json
# print(json.dumps({key: None for key in text.split()}, sort_keys=False, indent=4))

In [15]:
record_row = [i+"_1" for i in text.split()]
sh.append_row(record_row)

{'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
 'tableRange': 'data!A1:N1',
 'updates': {'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
  'updatedRange': 'data!A2:N2',
  'updatedRows': 1,
  'updatedColumns': 14,
  'updatedCells': 14}}

In [27]:
column_data = pd.read_csv("/home/santokalayil/Downloads/sheet_db - notes.csv").set_index("db_name")['data type']

print(json.dumps(column_data[~column_data.isnull()].to_dict(), indent=4, sort_keys=False))

{
    "name": "text",
    "parish": "text",
    "region": "text",
    "dob": "date",
    "occupation": "text",
    "education": "text",
    "address": "text",
    "phone": "text",
    "email": "email",
    "village_or_municipality": "text",
    "sui_uris_at_birth": "text",
    "husband_name": "text",
    "husband_occupation": "text",
    "children": "table",
    "dom": "date",
    "husband_dob": "date",
    "husband_phone": "text"
}

In [4]:
import json
from data_collection.config import DB_COLUMNS_INFO
print("\t".join(DB_COLUMNS_INFO.keys()))

name	parish	region	dob	occupation	education	address	phone	email	village_or_municipality	sui_uris_at_birth	husband_name	husband_occupation	husband_dob	husband_phone	dom	children

In [8]:
import datetime

date = datetime.datetime.now().date()

date.strftime("%b %d %Y")  # %H:%M:%S

'May 04 2023'

In [9]:
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()

os.getenv('GCP_private_key')

'-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDxM3tVbIs01/u3\nErPCEfXLMqd52ki4N9YmtBnu10HTzxgKMdsX09zguhJko98fJYhrrodCaVJeJ2Va\nm+0YTSSQ8TFtvENXd5VCSo1HbyEWM29JnNXQorA1BSTfV3SPbQSmTtjR3qp8uDoo\no0Ql5c83SkLOB8rFQ7ZXhgbSkmX95xeBJOuiW2J14PR5mKyEgx1Zdykqj2DmvCpN\npSYH4HIZBIGW0dvFr7ay8myezMiadXfa9zTlTNRRMM+OL50qiO+MIc5/kWiZwAy+\nkdnshksTQubE1HpB4xRJuOKbQPINDGwo6b3YCcPi+VSD/PjNJK9dDkGMauR3h7xw\n8gxFd0qBAgMBAAECggEAU1LlmG0W6fpzCpt7Xd+2eavWD1JJLNqdMGGnU8spAnLY\nay0t8t1NwJSHJh02RxxANHLmZxrbSYtyiAq1rV948llgKfiPivfUqEH47GSHmZPL\nLjLv6lNJbAeK5Vzg92tB3/H9FQNHAi7iaId+U1lAbGlLCsHGWr85jqLOWJAai8tN\ns0bWeHQJ7BXZd4f5lv2RK/T8cEojhiELtowrfotqaD4pUDtJl8G+HO4e0mDf0/gu\nN67FLnIfid3R+D45PGtCkX5Fd6dzFG78OFi/QgajjYC4PtxY9NsHsFtJueLxuMUs\nU/OXU0/EFDF664nc1+B6yPBiGie0fLUxnPPBbdPkwQKBgQD5fgQr+RPOUXwXSWiG\nuYus6DHULjiwUNoOAn8AXCf5Sp+Cxg4jc1ABkQlDhQK3fcb9LTohj7VYRve0vw96\neEwGLE+sMzAKogs/uvxBGrhpZu3ItHZAhTTAAuBAbEl1tg4wX2TcZMIWaU8jUyeF\naJkhNdR0Vzo3NPRTAtlaoGuW6wKBgQD3fhnxyKQAVIVd2d+gSVkLBTFWAvVP+MtL\nPx6GhaZHX8GbsLCcyabsU+MOrlO4loe85X7f/CKiQlZ17G6jNYi6X0TB+4tmVh9a\nxXkbUjCZnuVs8wHeXAZ5x3IemNeDQ2A73WvJT2C95OMCunV4E7RprpuNxF3r/Syr\nQp2Bru+hQwKBgQC4M0PdO15WG28kujwEDAWFuUDgyOdttaPoaAtgNqoEsgWmxZc2\nsTJGldBjG1bwJlq+HaAnmzRmYq8LsWw6HYrzm8+O8ZPspcrsWJ9ZaeLxXt78KdCM\nvkw932G17r0lvS4opKWQ2os5hLK6/+/T3XABRv7+jlAa5mvkxdu3v2zv1QKBgQDz\nU8XKVAv6Tx84oKce/j5PeXGCMTJiyCeH+azXcbuD3P+LRPK/k/tLy0Yn/vlNOKKH\n89MEAO9EPJipJCW6zT16j4QYfGoX2YDGS/TACdTClNjYfytNJYkwXgkzT+5DnhCV\niyMYL7Tbvpf67LvlrOnqJcPGZFQ7WxV54+rbv9TV5QKBgC7G08BG+/+GmEqg6k9X\ntng9bcku7Tmj0Pcnx88qX98Eqg0di4ryH+n5wGNrJ3HNpYoTJ8mL0KW5vYqtTK2e\nn1PqS33JO8Jud68m0fEjjb99uZc/qB6JKu3zpm6TfrudvcIA2E9gb/SzdEoR0ouz\nzCuhk0XOjJylFznL1UYkv4oh\n-----END PRIVATE KEY-----\n'

In [3]:
import json

from data_collection.paths import CREDENTIALS_DIR



def load_cred_template() -> dict:
    TEMPLATE_JSON = CREDENTIALS_DIR / "google_sheet_db__datacollector_template.json"
    with open(TEMPLATE_JSON) as f:
        return json.load(f)

def create_gcp_credentials_json():
    GCP_CREDENTIALS_JSON_PATH = CREDENTIALS_DIR / "google_sheet_db__datacollector.json" 
    json_data = {k:os.getenv(f"GCP_{k}") for k in load_cred_template().keys()}
    with open(GCP_CREDENTIALS_JSON_PATH, 'w') as f:
        json.dump(json_data, f, sort_keys=False, indent=4)

create_gcp_credentials_json()

In [11]:
# sh.update("A1", "test update")

{'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
 'updatedRange': 'Sheet1!A1',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [6]:
sh.append_row(["who","am", "i"])

{'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
 'tableRange': 'Sheet1!A1:F6',
 'updates': {'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
  'updatedRange': 'Sheet1!A7:C7',
  'updatedRows': 1,
  'updatedColumns': 3,
  'updatedCells': 3}}

In [7]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv")
df.fillna("", inplace=True)

In [20]:
df.values.tolist()

[['Jack', 'McGinnis', '220 hobo Av.', 'Phila', ' PA', 9119],
 ['John "Da Man"', 'Repici', '120 Jefferson St.', 'Riverside', ' NJ', 8075],
 ['Stephen',
  'Tyler',
  '7452 Terrace "At the Plaza" road',
  'SomeTown',
  'SD',
  91234],
 [nan, 'Blankman', nan, 'SomeTown', ' SD', 298],
 ['Joan "the bone", Anne',
  'Jet',
  '9th, at Terrace plc',
  'Desert City',
  'CO',
  123]]

In [22]:
sh.update(df.values.tolist())

{'spreadsheetId': '1K1Pbq6-IIzoCFHJulZ0k7Oskd8_QvCeEx6lHii81ggE',
 'updatedRange': 'Sheet1!A1:F5',
 'updatedRows': 5,
 'updatedColumns': 6,
 'updatedCells': 30}

In [13]:
pd.DataFrame(sh.get_all_records())

GSpreadException: the given 'expected_headers' are not uniques

In [23]:
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,,Blankman,,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123